
body{
	background-color:#4FB510;
}
h1{
	color:black; font-size:90px; text-align:center;
}
p{
	color:red; font-size:30px; font-family: "Arial", sans-serif;, serif;;
}
h2{
	color:yellow; font-size:20px;font-style:italic
}
ol{
	color:white; font-size:20px; font-style:italic;
}
table{
	 border-collapse: collapse; width: 30%;
}
th, td{
 	border: 1px solid #ddd;
 	padding: 8px;
 	text-align: left;
}
th{
 	background-color:blue;
 	color: white;
}
tr:nth-child(even){
 	background-color: #f2f2f2;
}
 tr:hover{
 	background-color: #ddd;
}